#nav{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#title{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display1{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display2{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display3{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display4{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display5{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}

#display6{
	width: 1582px;
	margin: 0 auto;
	padding: 0;
}


#nav img{
	padding: 0;
	margin: 0;
}
#title img{
	padding: 0;
	margin: 0;

}
#display1 img{
	padding: 0;
	margin: 0;

}
#display2 img{
	padding: 0;
	margin: 0;

}
#display3 img{
	padding: 0;
	margin: 0;

}
#display4 img{
	padding: 0;
	margin: 0;

}
#display5 img{
	padding: 0;
	margin: 0;

}
#display6 img{
	padding: 0;
	margin: 0;
}

body {background-color: black;}